<div class="grid">
    <div class="col-12 background-navbar">
        <div class="grid">
            <div class="col-11"></div>
            <div class="col-1">
                <a href="#" class="navbarText">Login</a>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-2 sideBar mt-3">
        <br>
        <button class="sideBarText ml-4" (click)="changeModule(1)">
            <i class="fa-solid fa-house"></i> &nbsp; Dashboard
        </button><br><br>
        <button class="sideBarText ml-4" (click)="changeModule(2)">
            <i class="fa-solid fa-user-graduate"></i> &nbsp; Manage Student
        </button><br><br>
        <button class="sideBarText ml-4" (click)="changeModule(3)">
            <i class="fa-solid fa-users-rectangle"></i> &nbsp; Manage Course
        </button><br><br>
        <button class="sideBarText ml-4" (click)="changeModule(4)">
            <i class="fa-solid fa-building-columns"></i> &nbsp; Manage Hall
        </button><br><br>
        <button class="sideBarText ml-4" (click)="changeModule(5)">
            <i class="fa-solid fa-book-open"></i> &nbsp; Manage Subjects
        </button><br><br>
        <button class="sideBarText ml-4" (click)="changeModule(6)">
            <i class="fa-solid fa-person-chalkboard"></i> &nbsp; Manage Teachers
        </button><br><br>
        <button class="sideBarText ml-4" (click)="changeModule(7)">
            <i class="fa-solid fa-right-to-bracket"></i> &nbsp; Manage Enrolment
        </button><br><br>
        <button class="sideBarText ml-4" (click)="changeModule(8)">
            <i class="fa-solid fa-award"></i> &nbsp; Manage Grades
        </button><br><br>
        <button class="sideBarText ml-4" (click)="changeModule(9)">
            <i class="fa-solid fa-hand-holding-dollar"></i> &nbsp; Manage Class Fees
        </button><br><br>
        <button class="sideBarText ml-4" (click)="changeModule(10)">
            <i class="fa-solid fa-user-check"></i> &nbsp; Manage Student Attendance
        </button><br><br>
    </div>
    <div class="col-10 content_area">
        <app-dashboard *ngIf="selectedModuleEnum === 1"></app-dashboard>
        <app-manage-student *ngIf="selectedModuleEnum === 2"></app-manage-student>
        <app-manage-course *ngIf="selectedModuleEnum === 3"></app-manage-course>
        <app-manage-hall *ngIf="selectedModuleEnum === 4"></app-manage-hall>
        <app-manage-subject *ngIf="selectedModuleEnum === 5"></app-manage-subject>
        <app-manage-teachers *ngIf="selectedModuleEnum === 6"></app-manage-teachers>
        <app-manage-enrolment *ngIf="selectedModuleEnum === 7"></app-manage-enrolment>
        <app-manage-grade *ngIf="selectedModuleEnum === 8"></app-manage-grade>
        <app-manage-class-fee *ngIf="selectedModuleEnum === 9"></app-manage-class-fee>
        <app-manage-attendance *ngIf="selectedModuleEnum === 10"></app-manage-attendance>
    </div>
</div>