<div *ngIf="isLoading" class="loading">
    <img src="../../assets/giphy.gif" alt="" srcset="" class="lodingGif">
</div>
<div *ngIf="!isLoading">
    <div class="grid">
        <div class="col-12 background-navbar">
            <div class="grid">
                <div class="col-10"></div>
                <div class="col-2 text-right" >
                    <div class="mr-4">
                        <span class="navbarText mr-3" (click)="op.toggle($event)">Hello {{name}}</span>
                        <i class="fa-solid fa-caret-down fa-lg" style="color: aliceblue;" (click)="op.toggle($event)"></i>
                        <p-overlayPanel #op>
                            <div>
                                <i class="fa-solid fa-power-off option"></i> 
                                <button class="option" (click)="logout()">Logout</button>
                                <button class="option" (click)="logout()"></button>
                            </div>
                            <div class="mt-3">
                                <i class="fa-solid fa-key option"></i>
                                <button class="option">Chnage Password</button>
                                <button class="option"></button>
                                <button class="option"></button>
                            </div>
                        </p-overlayPanel>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-2 sideBar mt-3">
            <br>
            <div *ngFor="let appIcon of appIcons">
                <div *ngIf="isAllowed(appIcon.id)">
                    <button 
                    (click)="changeModule(appIcon.id)"
                    [ngClass]="{ 'selected_fontColor ml-4': selectedModuleEnum == appIcon.id, 'sideBarText ml-4': selectedModuleEnum != appIcon.id }"
                    >
                    <i [className]="appIcon.icon"></i> &nbsp; {{appIcon.name}}
                    </button><br><br>
                </div>
            </div>
        </div>
        <div class="col-10 content_area">
            <app-dashboard *ngIf="selectedModuleEnum === 1"></app-dashboard>
            <app-manage-student *ngIf="selectedModuleEnum === 2"></app-manage-student>
            <app-manage-course *ngIf="selectedModuleEnum === 3"></app-manage-course>
            <app-manage-hall *ngIf="selectedModuleEnum === 4"></app-manage-hall>
            <app-manage-subject *ngIf="selectedModuleEnum === 5"></app-manage-subject>
            <app-manage-teachers *ngIf="selectedModuleEnum === 6"></app-manage-teachers>
            <app-manage-enrolment *ngIf="selectedModuleEnum === 7"></app-manage-enrolment>
            <app-manage-grade *ngIf="selectedModuleEnum === 8"></app-manage-grade>
            <app-manage-class-fee *ngIf="selectedModuleEnum === 9"></app-manage-class-fee>
            <app-manage-attendance *ngIf="selectedModuleEnum === 10"></app-manage-attendance>
            <app-manage-role *ngIf="selectedModuleEnum === 11"></app-manage-role>
            <app-manage-other-employee *ngIf="selectedModuleEnum === 12"></app-manage-other-employee>
            <app-app-icons *ngIf="selectedModuleEnum === 13"></app-app-icons>
            <app-manage-action *ngIf="selectedModuleEnum === 14"></app-manage-action>
            <app-manage-privilage *ngIf="selectedModuleEnum === 15"></app-manage-privilage>
        </div>
    </div>
</div>