<div *ngIf="!isLoading">
    <div class="grid pt-4 pl-3">
        <div class="col-4">
            <div [formGroup]="selectAction">
                <label for="searchAction">Search A Course</label><br><br>
                <p-radioButton value=1 inputId="searchAction" formControlName="action" (click)="loadTheContent()"></p-radioButton>
            </div>
        </div>
        <div class="col-4">
            <div [formGroup]="selectAction">
                <label for="createAction">Create A Course</label><br><br>
                <p-radioButton value=2 inputId="createAction" formControlName="action" (click)="loadTheContent()"></p-radioButton>
                
            </div>
        </div>
        <div class="col-4">
            <button label="Create A Course" pButton *ngIf="action === 2" (click)="openCourseForm(true)"></button>
            <div class="grid pt-4" *ngIf="action == 1">
                <div class="col-8 p-float-label" [formGroup]="searchForm">
                    <input type="text" pInputText class="inputsStyle" id="searchValue" formControlName="searchValue"> 
                    <label For="searchValue"> &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-magnifying-glass"></i>&nbsp; &nbsp;Search A Course</label>
                </div>
                <div class="col-4">
                    <button label="Search" pButton (click)="searchHall()"></button>
                </div>
            </div>
        </div>
    </div>
</div>